* {    
    font-weight: 700;
    font-size: 16px;    
    box-sizing: content-box;  
}

body {
    margin: 0;
    padding: 0;
}

.background-steel {
    background-image: url('../assets/background_steel.png');
    background-repeat: repeat-x;
    background-size: cover;
}

.background-grass {
    background-image: url('../assets/background_grass.png');
    background-repeat: repeat-x;
    background-size: cover;
}

.cart-screen {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    border-radius: 10px;
}

/* Página Inicial */
#steel-button, #grass-button {
    width: 100%;
    height: 50vh;
}

button.btn.btn-secondary, button.btn.btn-success, button.btn.btn-danger, button.btn.btn-alert {
    font-size: 18px;
    font-weight: 500;
}

.pokemon-photo {
    max-width: 65%;
}

.missigno {
    max-width: 38%;
}

.poke-card {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.margin-card {
    margin: 5px;
}

.poke-name {
    text-transform: capitalize;  
    font-size: 23px;    
}

.poke-price {
    font-size: 18px;
    text-align: left;
}

/*Cabeçalho da loja*/
.header-store {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-logo {
    max-width: 30%;    
}

/*Lista de compras*/
.cart-subtotal {
    font-size: 28px;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.imageItemCart {
    align-items: flex-end;
    width: 100px;
    margin-right: 5px;
}

.button-add {
    text-align: center;
}

.button-remove {
    float: right;
}

.cart-item {
    text-align: center;    
}

/* ----------------------------------- JANELA POP UP ------------------------------------------- */

#popup {
    display: none;
}

.popup__wrapper {
    background: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.popup__container {
    background: #fff;
    border-radius: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin: 100px auto;
    max-width: 100%;
    padding: 20px;
    width: 500px;
    text-align: center;
    position: relative;
    top: 90px;
    color: #242424;
}

.popup__title {
    font-size: 28px;
    margin-bottom: 15px;
    padding: 6%;
    text-align: center;
    color: rgb(180, 2, 2);
    font-weight: 600;
}

.popup__text {
    font-size: 22px;
}

.exit{
    position: absolute;
    top: 3%;
    right: 2.3%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #242424;
    background-color: #242424;
    color: white;
    cursor: pointer;
}

/************** LOADER *************************/
#loader { 
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;    
     
} 
  
@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#loader::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:#242424;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
  
.loaderCenter { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 


