* {    
    font-weight: 700;
    font-size: 14px;    
    box-sizing: content-box;  
}

body {
    margin: 0;
    padding: 0;
}

/* Página Inicial */
#steel-button, #grass-button {
    width: 100%;
    height: 50vh;
}


button.btn.btn-secondary, button.btn.btn-success, button.btn.btn-danger, button.btn.btn-alert {
    font-size: 18px;
    font-weight: 500;
}

.pokemon-photo {
    max-width: 75%;
}

.missigno {
    max-width: 38%;
}

.poke-card {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.margin-card {
    margin: 5px;
}

.poke-name {
    text-transform: capitalize;  
    font-size: 23px;    
}

.poke-price {
    font-size: 18px;
    text-align: left;
}

/*Cabeçalho da loja*/
.header-store {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-logo {
    max-width: 30%;    
}

/* ----------------------------------- JANELA POP UP ------------------------------------------- */

#popup {
    display: none;
}

.popup__wrapper {
    background: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.popup__container {
    background: #fff;
    border-radius: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin: 100px auto;
    max-width: 100%;
    padding: 20px;
    width: 500px;
    text-align: center;
    position: relative;
    top: 90px;
    color: #242424;
}

.popup__title {
    font-size: 28px;
    margin-bottom: 15px;
    padding: 6%;
    text-align: center;
    color: rgb(180, 2, 2);
    font-weight: 600;
}

.popup__text {
    font-size: 22px;
}

.exit{
    position: absolute;
    top: 3%;
    right: 2.3%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #242424;
    background-color: #242424;
    color: white;
    cursor: pointer;
}


